@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Arvo');

.jumbotron {
    background-color: yellowgreen;
}

.titulo {
    text-align: center;
    font-family: 'Arvo', serif;
}
.conteudo {
    text-align: center;
    font-family: 'Arvo', serif;
}
.rodape {
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 8pt;
    position: fixed;
    bottom: 1%;
}