<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oficina de Vue.js</title>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="titulo">VueJS</h1>
            <p class="conteudo">Aqui nós vamos testar os exemplos.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col" id="app1">{{ mensagem }}</div>
                <div class="col" id="app2">
                    {{ mensagem }}
                    <br>
                    <input type="text" v-model="mensagem" placeholder="Digite algo aqui">
                </div>
                <div class="col" id="app3">
                    <p>Número de cliques:
                        <span class="badge badge-success">{{ contador }}</span>
                    </p>
                    <button class="btn btn-success" @click="conteMaisUm()">Conte mais um!</button>
                    <button class="btn btn-danger" @click="resetar()">Reset</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col" id="app4">
                    <span v-if="visivel">Podia ficar sem ver isso! xD</span><br>
                    Selecione para tornar visível: <input type="checkbox" v-model="visivel">
                </div>
                <div class="col" id="app5">
                    <p>Coisas a fazer:</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="item in lista" @click="remova(item.val)">
                            {{item.text}} <span v-if="item.concluido" class="badge badge-success">ok</span>
                        </li>
                    </ul>
                </div>
                <div class="col" id="app6">
                    Um valor: <input type="number" v-model="valor1"><br>
                    Valor ao quadrado: {{valor2}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col" id="calculadora"></div>
            </div>
        </div>
        <div class="container rodape float">@2018 Felipe Bastos Nunes</div>
    </div>
</body>

</html>